<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WledSRServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WledSRServer.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <WledSRServer.Properties.Settings>
      <setting name="StartWithoutGUI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocalIPToBind" serializeAs="String">
        <value />
      </setting>
      <setting name="WledUdpMulticastPort" serializeAs="String">
        <value>11988</value>
      </setting>
      <setting name="AudioCaptureDeviceId" serializeAs="String">
        <value />
      </setting>
      <setting name="FFTLow" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="FFTHigh" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FFTValueScale" serializeAs="String">
        <value>SquareRoot</value>
      </setting>
      <setting name="FFTFreqLogScale" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NetworkSendMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NetworkBroadcastIPList" serializeAs="String">
        <value />
      </setting>
      <setting name="NetworkTargetIPList" serializeAs="String">
        <value />
      </setting>
      <setting name="ManualGainReference" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ManualGain" serializeAs="String">
        <value>False</value>
      </setting>
    </WledSRServer.Properties.Settings>
  </userSettings>
</configuration>